<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6IFo-E8ZokxMGY8b8F25JHiWL1cuQkjo</string>
	<key>GCM_SENDER_ID</key>
	<string>220481443947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordGeneratorSeminarski</string>
	<key>PROJECT_ID</key>
	<string>pswfgenerator</string>
	<key>STORAGE_BUCKET</key>
	<string>pswfgenerator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220481443947:ios:7e8cb003f4dd68df28f92e</string>
</dict>
</plist>